@using NonFactors.Mvc.Grid;
@model IGrid

<div class="mvc-grid">
    <table class="table @Model.CssClasses mvc-grid-table" data-name="@Model.Name">
        <thead>
            <tr>
                @foreach (IGridColumn column in Model.Columns)
                {
                    <th class="@column.CssClasses"
                        data-name="@column.Name"
                        data-sort="@(column.IsSortable == true)"
                        data-sort-order="@column.SortOrder">
                        @column.Title
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Rows.Count() > 0)
            {
                foreach (IGridRow row in Model.Rows)
                {
                    <tr>
                        @foreach (IGridColumn column in Model.Columns)
                        {
                            <td class="@column.CssClasses">@column.ValueFor(row)</td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mvc-grid-table-empty" colspan="@Model.Columns.Count()">
                        @Model.EmptyText
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Pager != null)
    {
        @Html.Partial(Model.Pager.PartialViewName, Model.Pager)
    }
</div>
