@using NonFactors.Mvc.Grid;
@model IGrid

<div class="mvc-grid">
    <table class="table table-striped table-hover mvc-grid-table @Model.CssClasses" data-name="@Model.Name">
        <thead>
            <tr>
                @foreach (IGridColumn column in Model.Columns)
                {
                    String filterableClass = column.IsFilterable == true ? "mvc-grid-filterable" : "";
                    String sortableClass = column.IsSortable == true ? "mvc-grid-sortable" : "";

                    <th class="mvc-grid-header @filterableClass @sortableClass @column.CssClasses"
                        data-name="@column.Name"
                        data-filterable="@(column.IsFilterable == true)"
                        data-filter-name="@column.FilterName"
                        data-filter-type="@column.FilterType"
                        data-filter-val="@column.FilterValue"
                        data-sortable="@(column.IsSortable == true)"
                        data-sort-order="@column.SortOrder"
                        data-sort-query="@column.GetSortingQuery()">
                        @column.Title
                        @if (column.SortOrder == null)
                        {
                            <span class="mvc-grid-sort mvc-grid-sort-@column.SortOrder.ToString().ToLower()"></span>
                        }
                        @if (column.IsFilterable == true)
                        {
                            <span class="mvc-grid-filter" />
                        }
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Rows.Count() > 0)
            {
                foreach (IGridRow row in Model.Rows)
                {
                    <tr>
                        @foreach (IGridColumn column in Model.Columns)
                        {
                            <td class="@column.CssClasses">@column.ValueFor(row)</td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mvc-grid-table-empty" colspan="@Model.Columns.Count()">
                        @Model.EmptyText
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Pager != null)
    {
        @Html.Partial(Model.Pager.PartialViewName, Model.Pager)
    }
</div>
