@using NonFactors.Mvc.Grid;
@model IGrid

<div class="mvc-grid">
    <table class="table mvc-grid-table">
        <thead>
            <tr>
                @foreach (IGridColumn column in Model.Columns)
                {
                    if (String.IsNullOrWhiteSpace(column.CssClasses))
                    {
                        <th>@column.Title</th>
                    }
                    else
                    {
                        <th class="@column.CssClasses">@column.Title</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Rows.Count() > 0)
            {
                foreach (IGridRow row in Model.Rows)
                {
                    <tr>
                        @foreach (IGridColumn column in Model.Columns)
                        {
                            if (String.IsNullOrWhiteSpace(column.CssClasses))
                            {
                                <td>@column.ValueFor(row)</td>
                            }
                            else
                            {
                                <td class="@column.CssClasses">@column.ValueFor(row)</td>
                            }
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mvc-grid-table-empty" colspan="@Model.Columns.Count()">@Model.EmptyText</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial(Model.Pager.PartialViewName, Model.Pager)
</div>
