@using NonFactors.Mvc.Grid;
@model IGridPager

@if (Model.TotalPages > 1)
{
    <div class="mvc-grid-pager @Model.CssClasses">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li><a href="@Model.GetPagingQuery(1)">&laquo;</a></li>
                <li><a href="@Model.GetPagingQuery(Model.CurrentPage - 1)">&lsaquo;</a></li>
            }
            else
            {
                <li class="disabled"><a href="javascript:void(0);">&laquo;</a></li>
                <li class="disabled"><a href="javascript:void(0);">&lsaquo;</a></li>
            }
            @for (Int32 page = Model.StartingPage; page <= Model.TotalPages && page < Model.StartingPage + Model.PagesToDisplay; page++)
            {
                if (page == Model.CurrentPage)
                {
                    <li class="active"><a>@page</a></li>
                }
                else
                {
                    <li><a href="@Model.GetPagingQuery(page)">@page</a></li>
                }
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li><a href="@Model.GetPagingQuery(Model.CurrentPage + 1)">&rsaquo;</a></li>
                <li><a href="@Model.GetPagingQuery(Model.TotalPages)">&raquo;</a></li>
            }
            else
            {
                <li class="disabled"><a href="javascript:void(0);">&rsaquo;</a></li>
                <li class="disabled"><a href="javascript:void(0);">&raquo;</a></li>
            }
        </ul>
    </div>
}
